<html lang="html">
    <head>
        <title>Reset Password</title>
    </head>
    <style>
        body {
            color: #000;
            font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            font-size: 16px;
            line-height: 24px;
        }
    </style>
    <body>
        <p>Hello, <%= name %></p>
        <p>
            <a href="<%= confirmUrl %>">Confirm Account URL</a>
        </p>
    </body>
</html>